/* Root typography settings */
html{
  font-size: 20pt;
  font-family: 'Libre Caslon Display', serif;
  line-height: 1.5;
  color: #3F1B09;
  background-color: #BAC7E5;
  
}

/* General heading styles */
h1, h2, h3, h4, h5, h6{
  set font styles for all of your headings, for example font-weight, line-height, font-family
}

/* Specific element text styles */
h1{
  /*   this is the page title */
}

h2{
  
}

p{

  margin-bottom: 1rem; /* optional but usually good to have a space between paragraphs */
}
